{% extends 'base.html.twig' %}

{% block body %}

  {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

    <h6 class="border-bottom border-gray pb-2 mb-0">Users</h6>
	<ul>
    {% for user in users %}
	<li>
	 {{ user.email }}
	</li>
    {% endfor %}
	</ul>
{% endblock %}
